<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:href="@{smartMenu.css}" rel="stylesheet" />

<title>测试机资源占用</title>
</head>
<body>
	<noscript>
		<h2 style="color: #ff0000">貌似你的浏览器不支持websocket</h2>
	</noscript>
    <input type="hidden" id="clientFlag" th:value="${thizIp}" />
	<table id="listTable" border="1" cellpadding="3" cellspacing="1" width="125px;" align="center" >
        <tr>
            <td width="20px;" align="center"><font color='red'>☈</font></td>
            <td style="width:15px;height:15px;" th:each="ip:${ips}" th:text="${ip}">
            </td>
        </tr>
        <tr th:each="pro:${projects}">
            <td align="center" th:text="${pro}"></td>
            <td th:id="(${proStat.index}+'_0')"></td>
            <td th:id="(${proStat.index}+'_1')"></td>
            <td th:id="(${proStat.index}+'_2')"></td>
            <td th:id="(${proStat.index}+'_3')"></td>
            <td th:id="(${proStat.index}+'_4')"></td>
            <td th:id="(${proStat.index}+'_5')"></td>
            <td th:id="(${proStat.index}+'_6')"></td>
        </tr>
    </table>
    
    <p id="response"></p>
    
	<script th:src="@{sockjs.min.js}"></script>
	<script th:src="@{stomp.min.js}"></script>
	<script th:src="@{jquery.js}"></script>
	<script th:src="@{jquery-smartMenu.js}"></script>
    <script th:src="@{occupy.js}"></script>

    <script type="text/javascript">
	   $(document).ready(function(){
	       $("#listTable td").smartMenu(menuData, {
	            name: "listTable",
	            beforeShow: function() {
	                $.smartMenu.remove();
	            }
	        });
	       connect();
	       initStatus();
	   });
	</script>
</body>
</html>