<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/smartMenu.css}"/>
    <title>测试机资源占用</title>
    <style type="text/css">
        body {
        padding-top: 50px;
        }
    </style>
</head>
<body>
	<noscript>
		<h2 style="color: #ff0000">貌似你的浏览器不支持websocket</h2>
	</noscript>

    <input type="hidden" id="userId" th:value="${userId}" />

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:text="'HI '+${realname}+',JUST FOR FUN'"></a>
            </div>
        </div>
    </nav>

	<table id="listTable" border="1" cellpadding="3" cellspacing="1" width="125px;" align="center" >
        <tr>
            <td width="20px;" align="center"><font color='red'>☈</font></td>
            <td style="width:15px;height:15px;" th:each="ip:${ips}" th:text="${ip}">
            </td>
        </tr>
        <tr th:each="pro:${projects}">
            <td align="center" th:text="${pro}"></td>
            <td th:id="(${proStat.index}+'_0')"></td>
            <td th:id="(${proStat.index}+'_1')"></td>
            <td th:id="(${proStat.index}+'_2')"></td>
            <td th:id="(${proStat.index}+'_3')"></td>
            <td th:id="(${proStat.index}+'_4')"></td>
            <td th:id="(${proStat.index}+'_5')"></td>
            <td th:id="(${proStat.index}+'_6')"></td>
        </tr>
    </table>
    
    <p id="response"></p>
    
	<script th:src="@{js/lib/sockjs.min.js}"></script>
	<script th:src="@{js/lib/stomp.min.js}"></script>
	<script th:src="@{js/lib/jquery.js}"></script>
	<script th:src="@{js/lib/jquery-smartMenu.js}"></script>

    <script th:src="@{js/business/occupy.js}"></script>

    <script type="text/javascript">
	   $(document).ready(function(){
	       $("#listTable td").smartMenu(menuData, {
	            name: "listTable",
	            beforeShow: function() {
	                $.smartMenu.remove();
	            }
	        });
	       connect();
	       initStatus();
	   });
	</script>
</body>
</html>